@using Models.ViewModels
@{
    Layout = "_HomePageLayout";
    var isArabic = System.Globalization.CultureInfo.CurrentCulture.TwoLetterISOLanguageName == "ar";
}
@model HomePageIndexVM


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

<link rel="stylesheet" href="~/HomePageAssets/assets/css/home/index.css" />

<!-- ========================= hero-5 start ========================= -->
<div class="hero-section hero-style-5 img-bg" style="background-image: url('/HomePageAssets/assets/img/hero/hero-5/hero-bg.svg')">
    <div class="container" dir="@(isArabic ? "rtl" : "ltr")">
        <div class="row">
            <div class="col-lg-6 @(isArabic ? "text-end" : "text-start")">
                <div class="hero-content-wrapper">
                    <h2 class="mb-30 wow fadeInUp" data-wow-delay=".2s">
                        @(isArabic ? "جد المدرس الخصوصي الذي سيساعد طفلك على تحقيق درجات أفضل" : "Find the tutor that will help your child get better grades at school")
                    </h2>

                    <div class="col-lg-12">
                        <ul class="hero-features" style="list-style: none; padding: 0;">
                            @if (isArabic)
                            {
                                <li>✔ دروس خصوصية (واحد لواحد)</li>
                                <li>✔ حصص أونلاين أو في المنزل</li>
                                <li>✔ تتبع تقدم طفلك الدراسي</li>
                                <li>✔ مدرسون لجميع المواد من الروضة حتى الثانوي</li>
                                <li>✔ المناهج الدولية (مصر، السعودية، الإمارات والكويت)</li>
                            }
                            else
                            {
                                <li>✔ 1-on-1 private tutoring</li>
                                <li>✔ Online or at-home sessions</li>
                                <li>✔ Track your child's progress</li>
                                <li>✔ Tutors in all subjects from KG to Grade 12</li>
                                <li>✔ International school systems (Egypt, KSA, UAE & Kuwait)</li>
                            }
                        </ul>
                    </div>

                    <a href="/identity/account/login" class="button button-lg radius-50 wow fadeInUp" data-wow-delay=".6s">
                        @(isArabic ? "ابدأ الآن" : " Let's start")
                        <i class="lni @(isArabic ? "lni-chevron-left" : "lni-chevron-right")"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-6 align-self-end">
                <div class="hero-image wow fadeInUp" data-wow-delay=".5s">
                    <img src="~/HomePageAssets/assets/img/hero/hero-5/hero-img.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ========================= hero-5 end ========================= -->

<!-- ========================= hero-section-wrapper-6 end ========================= -->

<!--  swiper-->
<!-- all school subjects  -->


<div class="subject-systems-grades  wow fadeInUp" data-wow-delay=".3s">


    <section class="subjects-section">
        <h2 >
            @(isArabic ? "احصل على دعم تعليمي في جميع المواد الدراسية" : "Get tutor support in all school subjects")
        </h2>

        <div class="swiper subjects-swiper" dir="@(isArabic ? "rtl" : "ltr")">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="text-center">
                        <div class="svgContainer">
                            <svg fill="#000000" height="200px" width="200px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <path d="M436.833,262.291v-46.995c16.002-6.136,27.367-21.634,27.367-39.796c0-23.536-19.08-42.616-42.616-42.616 c-10.173,0-19.508,3.569-26.835,9.517l-40.71-23.504V32.101h-30.496v86.797L256,157.894l-67.543-38.997V32.101h-30.496v86.797 l-40.71,23.504c-7.327-5.948-16.662-9.517-26.835-9.517c-23.536,0-42.616,19.08-42.616,42.616 c0,18.162,11.366,33.66,27.368,39.796v46.995L0,305.688l15.248,26.41l75.162-43.394l67.549,39v77.986l-75.167,43.398l15.248,26.41 l75.167-43.398l82.791,47.8l55.958-32.308c7.327,5.948,16.662,9.517,26.835,9.517c23.536,0,42.616-19.08,42.616-42.616 c0-18.162-11.366-33.66-27.368-39.796v-46.995l67.55-38.998l75.162,43.394L512,305.689L436.833,262.291z M173.203,301.289 l-67.537-38.993v-47.001h-0.001c16.002-6.136,27.367-21.634,27.367-39.796c0-2.277-0.183-4.511-0.528-6.693l40.703-23.5 l67.543,38.997v47.001c-16.002,6.136-27.367,21.634-27.367,39.796c0,2.276,0.183,4.508,0.527,6.687L173.203,301.289z M323.543,374.699c-16.002,6.136-27.367,21.634-27.367,39.796c0,2.277,0.183,4.511,0.528,6.693L256,444.688l-67.543-38.999 v-77.985l40.71-23.504c7.327,5.947,16.662,9.516,26.834,9.516c10.172,0,19.508-3.569,26.834-9.516l40.71,23.504V374.699z M406.337,262.297l-67.539,38.993l-40.708-23.503c0.344-2.18,0.527-4.412,0.527-6.687c0-18.162-11.365-33.66-27.367-39.796 v-47.001l67.543-38.997l40.703,23.5c-0.345,2.182-0.528,4.416-0.528,6.693c0,18.162,11.366,33.66,27.368,39.796V262.297z"></path> </g> </g> </g></svg>
                        </div>
                        <h5>@(isArabic ? "أحياء" : "Biology")</h5>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="text-center">
                        <div class="svgContainer">
                            <svg viewBox="0 0 24 24" data-name="025_SCIENCE" id="_025_SCIENCE" xmlns="http://www.w3.org/2000/svg" fill="#000000">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <defs>
                                        <style>
                                            .cls-1 {
                                                fill: #333;
                                            }</style>
                                    </defs><path class="cls-1" d="M8,13H5a3,3,0,0,1-3-3V6A3,3,0,0,1,5,3h8a3,3,0,0,1,3,3V7a1,1,0,0,1-2,0V6a1,1,0,0,0-1-1H5A1,1,0,0,0,4,6v4a1,1,0,0,0,1,1H8a1,1,0,0,1,0,2Z"></path><path class="cls-1" d="M7,9a1.05,1.05,0,0,1-.71-.29,1,1,0,0,1-.21-.33A1,1,0,0,1,6,8a1.05,1.05,0,0,1,.29-.71,1.15,1.15,0,0,1,.33-.21,1,1,0,0,1,1.09.21,1,1,0,0,1,0,1.42l-.15.12-.18.09L7.2,9Z"></path><path class="cls-1" d="M11,9a1.05,1.05,0,0,1-.71-.29l-.12-.15a.76.76,0,0,1-.09-.18A.64.64,0,0,1,10,8.2,1.5,1.5,0,0,1,10,8a1.05,1.05,0,0,1,.29-.71,1,1,0,0,1,.33-.21,1,1,0,0,1,1.09.21A1.05,1.05,0,0,1,12,8a1.5,1.5,0,0,1,0,.2.64.64,0,0,1-.06.18.76.76,0,0,1-.09.18l-.12.15A1.05,1.05,0,0,1,11,9Z"></path><path class="cls-1" d="M9,4A1,1,0,0,1,8,3V2a1,1,0,0,1,2,0V3A1,1,0,0,1,9,4Z"></path><path class="cls-1" d="M6,22a1,1,0,0,1-1-1V18a1,1,0,0,1,2,0v3A1,1,0,0,1,6,22Z"></path><path class="cls-1" d="M8,19H6a1,1,0,0,1-1-1V12a1,1,0,0,1,2,0v5H8a1,1,0,0,1,0,2Z"></path><path class="cls-1" d="M2,17a1,1,0,0,1-.89-.55,1,1,0,0,1,.44-1.34l4-2a1,1,0,0,1,.9,1.78l-4,2A.93.93,0,0,1,2,17Z"></path><path class="cls-1" d="M16,23a1,1,0,0,1-.5-.13L10.5,20a1,1,0,0,1-.5-.87V13.34a1,1,0,0,1,.5-.87l5-2.88a1,1,0,0,1,1,0l5,2.88a1,1,0,0,1,.5.87v5.77a1,1,0,0,1-.5.87l-5,2.89A1,1,0,0,1,16,23Zm-4-4.46,4,2.31,4-2.31V13.92l-4-2.31-4,2.31Z"></path><path class="cls-1" d="M16,14.73a1.5,1.5,0,1,0,1.5,1.5A1.5,1.5,0,0,0,16,14.73Z"></path>
                                </g>
                            </svg>
                        </div>
                        <h5>@(isArabic ? "روبوتات" : "Robotics")</h5>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="text-center">
                        <div class="svgContainer">
                            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M10 17C10.5523 17 11 16.5523 11 16C11 15.4477 10.5523 15 10 15C9.44772 15 9 15.4477 9 16C9 16.5523 9.44772 17 10 17Z" fill="#0F0F0F"></path> <path d="M15 18C15 18.5523 14.5523 19 14 19C13.4477 19 13 18.5523 13 18C13 17.4477 13.4477 17 14 17C14.5523 17 15 17.4477 15 18Z" fill="#0F0F0F"></path> <path fill-rule="evenodd" clip-rule="evenodd" d="M15 3V7.58152C17.9318 8.76829 20 11.6426 20 15C20 19.4183 16.4183 23 12 23C7.58172 23 4 19.4183 4 15C4 11.6426 6.06817 8.76829 9 7.58152V3H8C7.44772 3 7 2.55228 7 2C7 1.44772 7.44772 1 8 1H16C16.5523 1 17 1.44772 17 2C17 2.55228 16.5523 3 16 3H15ZM9.75043 9.43539L10.3752 9.18249C10.7529 9.02962 11 8.66295 11 8.25555V3H13V8.25555C13 8.66295 13.2471 9.02962 13.6248 9.18249L14.2496 9.43539C15.1075 9.78268 15.8661 10.3221 16.4726 11L7.52739 11C8.13388 10.3221 8.89249 9.78268 9.75043 9.43539ZM6.3414 13C6.12025 13.6258 6 14.2991 6 15C6 18.3137 8.68629 21 12 21C15.3137 21 18 18.3137 18 15C18 14.2991 17.8798 13.6258 17.6586 13L6.3414 13Z" fill="#0F0F0F"></path> </g></svg>
                        </div>
                        <h5>@(isArabic ? "كيمياء" : "chemistry")</h5>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="text-center">
                        <div class="svgContainer">
                            <svg fill="#000000" viewBox="0 0 24 24" role="img" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M12 16.5a3.001 3.001 0 0 1 0 6 3.001 3.001 0 0 1 0-6zm9.684-.765H2.316C.86 14.11 0 12.107 0 9.94c0-2.042.764-3.939 2.07-5.51h6.643c-2.379 1.031-4.011 3.146-4.011 5.585 0 2.005 1.103 3.79 2.816 4.935h8.964c1.713-1.145 2.816-2.93 2.816-4.935 0-2.439-1.632-4.554-4.011-5.585h6.643C23.236 6.002 24 7.9 24 9.941c0 2.166-.86 4.17-2.316 5.794zm-8.972-2.931H5.986c2.556-.974 4.34-3.17 4.34-5.719 0-2.439-1.633-4.554-4.012-5.585h6.644c1.306 1.571 2.07 3.468 2.07 5.51 0 2.166-.86 4.17-2.316 5.794z"></path></g></svg>
                        </div>
                        <h5>@(isArabic ? "اللغة العربية" : "Arabic")</h5>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="text-center">
                        <div class="svgContainer">
                            <svg fill="#000000" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path id="paris--arc-de-triomphe_2_" d="M7.5,7c0,0.276-0.224,0.5-0.5,0.5S6.5,7.276,6.5,7S6.724,6.5,7,6.5S7.5,6.724,7.5,7z M11,6.5c-0.276,0-0.5,0.224-0.5,0.5s0.224,0.5,0.5,0.5s0.5-0.224,0.5-0.5S11.276,6.5,11,6.5z M15,6.5c-0.276,0-0.5,0.224-0.5,0.5 s0.224,0.5,0.5,0.5s0.5-0.224,0.5-0.5S15.276,6.5,15,6.5z M19,6.5c-0.276,0-0.5,0.224-0.5,0.5s0.224,0.5,0.5,0.5s0.5-0.224,0.5-0.5 S19.276,6.5,19,6.5z M23,6.5c-0.276,0-0.5,0.224-0.5,0.5s0.224,0.5,0.5,0.5s0.5-0.224,0.5-0.5S23.276,6.5,23,6.5z M27,6.5 c-0.276,0-0.5,0.224-0.5,0.5s0.224,0.5,0.5,0.5s0.5-0.224,0.5-0.5S27.276,6.5,27,6.5z M31,30.64h-1.64V20.36H30v-0.72h-0.64V9.36H30 V8.64h-0.64V3.36H30V2.64H2v0.72h0.64v5.28H2v0.72h0.64v10.28H2v0.721h0.64V30.64H1v0.721h30V30.64z M21.36,28.36h7.279v2.279H21.36 V28.36z M11.36,20.36H12v-0.72h-0.626c0.184-2.391,2.188-4.28,4.626-4.28s4.441,1.889,4.626,4.28H20v0.721h0.64V30.64h-9.28V20.36z M3.36,28.36h7.28v2.279H3.36V28.36z M21.36,22.36h7.279v5.279H21.36V22.36z M3.36,22.36h7.28v5.279H3.36V22.36z M21.36,20.36h7.279 v1.279H21.36V20.36z M3.36,20.36h7.28v1.279H3.36V20.36z M16,14.64c-2.834,0-5.162,2.211-5.348,5H3.36v-8.28h1.28V13h0.72v-1.64 h1.28V13h0.72v-1.64h1.28V13h0.72v-1.64h1.28V13h0.72v-1.64h1.28V13h0.72v-1.64h1.28V13h0.72v-1.64h1.28V13h0.72v-1.64h1.279V13 h0.721v-1.64h1.279V13h0.721v-1.64h1.279V13h0.721v-1.64h1.279V13h0.721v-1.64h1.279V13h0.721v-1.64h1.279v8.28h-7.292 C21.162,16.852,18.834,14.64,16,14.64z M3.36,9.36h25.28v1.28H3.36V9.36z M3.36,5.36h25.28v3.28H3.36V5.36z M3.36,3.36h25.28v1.28 H3.36V3.36z M25.36,6h-0.72v2h0.721L25.36,6L25.36,6z M21.36,6h-0.72v2h0.721L21.36,6L21.36,6z M17.36,6h-0.72v2h0.72V6z M13.36,6 h-0.72v2h0.72V6z M9.36,6H8.64v2h0.72C9.36,8,9.36,6,9.36,6z M5.36,6H4.64v2h0.72C5.36,8,5.36,6,5.36,6z"></path> <rect id="_Transparent_Rectangle" style="fill:none;" width="32" height="32"></rect> </g></svg>
                        </div>
                        <h5>@(isArabic ? "اللغة الفرنسية" : "French")</h5>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="text-center">
                        <div class="svgContainer">
                            <svg fill="#000000" height="200px" width="200px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 263.976 263.976" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M149.763,36.21c3.01-3.811,4.871-8.616,4.871-13.837C154.634,10.036,144.628,0,132.291,0s-22.358,10.036-22.358,22.373 c0,5.222,1.597,10.026,4.605,13.837c-9.211,5.839-15.55,16.117-15.55,27.807v27.22c0,4.143,3.785,7.739,7.928,7.739h50.811 c4.143,0,7.262-3.597,7.262-7.739v-27.22C164.988,52.327,158.976,42.048,149.763,36.21z"></path> <path d="M81.988,124.539v-27.22c0-11.689-5.754-21.969-14.967-27.807c3.01-3.811,5-8.616,5-13.837 c0-12.337-9.942-22.373-22.279-22.373S27.416,43.339,27.416,55.676c0,5.222,1.855,10.026,4.863,13.837 c-9.212,5.839-15.292,16.117-15.292,27.807v27.22c0,4.143,3.301,7.437,7.443,7.437h50.811 C79.384,131.976,81.988,128.682,81.988,124.539z"></path> <path d="M232.034,69.513c3.008-3.811,5.006-8.616,5.006-13.837c0-12.337-9.939-22.373-22.276-22.373 c-12.337,0-22.325,10.036-22.325,22.373c0,5.222,1.843,10.026,4.852,13.837c-9.212,5.839-15.304,16.117-15.304,27.807v27.22 c0,4.143,3.326,7.437,7.469,7.437h50.811c4.143,0,6.721-3.294,6.721-7.437v-27.22C246.988,85.63,241.245,75.351,232.034,69.513z"></path> <path d="M149.763,201.464c3.01-3.811,4.871-8.615,4.871-13.836c0-12.337-10.006-22.373-22.343-22.373s-22.358,10.036-22.358,22.373 c0,5.221,1.597,10.026,4.605,13.837c-9.211,5.839-15.55,16.117-15.55,27.807v27.22c0,4.143,3.785,7.484,7.928,7.484h50.811 c4.143,0,7.262-3.342,7.262-7.484v-27.22C164.988,217.581,158.976,207.304,149.763,201.464z M132.321,180.255 c4.065,0,7.373,3.308,7.373,7.373c0,4.066-3.308,7.373-7.373,7.373s-7.373-3.308-7.373-7.373 C124.948,183.563,128.255,180.255,132.321,180.255z M149.988,248.976h-36v-19.704c0-9.874,8.127-17.906,18.001-17.906 c9.872,0,17.999,8.032,17.999,17.906V248.976z"></path> <path d="M138.988,138.555v-24.854c0-4.143-3.357-7.5-7.5-7.5c-4.143,0-7.5,3.357-7.5,7.5v24.854c0,4.143,3.357,7.5,7.5,7.5 C135.63,146.055,138.988,142.697,138.988,138.555z"></path> <path d="M59.331,140.177c-3.009-2.847-7.753-2.718-10.604,0.289c-2.848,3.008-2.718,7.755,0.289,10.604l37.709,35.707 c1.451,1.373,3.305,2.054,5.156,2.054c1.987,0,3.972-0.786,5.447-2.343c2.848-3.008,2.718-7.755-0.289-10.604L59.331,140.177z"></path> <path d="M205.241,140.071l-37.606,35.789c-3.001,2.855-3.118,7.603-0.263,10.603c1.474,1.55,3.452,2.33,5.434,2.33 c1.857,0,3.718-0.686,5.169-2.067l37.606-35.789c3.001-2.855,3.118-7.602,0.263-10.602 C212.989,137.332,208.241,137.217,205.241,140.071z"></path> </g> </g></svg>
                        </div>
                        <h5>@(isArabic ? "علم الاجتماع" : "Sociology")</h5>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="text-center">
                        <div class="svgContainer">
                            <svg height="200px" width="200px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 25.308 25.308" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <path style="fill:#010002;" d="M11.987,14.129c0.051-0.021,0.104-0.05,0.152-0.076c-0.073,0.351,0.067,0.665,0.562,0.557 c2.089-0.452,3.064-2.175,2.738-4.177c-0.079-0.5-0.642-0.352-0.935-0.155c-0.672,0.449-1.307,0.969-1.873,1.547 c0.044-1.596,0.207-3.184,0.526-4.757c0.074-0.357-0.284-0.579-0.604-0.496c-0.406,0.106-0.646,0.466-0.727,0.844 c-0.408,2.007-0.563,4.04-0.532,6.084c-0.995-0.075-1.487-0.658-1.598-1.463c0.065-0.363,0.084-0.735,0.062-1.104 c0.209-0.2,0.357-0.471,0.307-0.758C10.001,9.816,9.583,9.739,9.296,9.91c-1.208,0.714-2.61,1.576-3.191,2.896 c-0.281,0.636-0.178,1.418,0.566,1.662c0.746,0.242,1.567-0.189,2.098-0.684c0.45,0.7,1.244,1.138,2.381,1.109 C11.513,14.883,11.864,14.495,11.987,14.129z M14.166,11.92c-0.058,0.699-0.438,1.155-1.347,1.352l0,0 C13.206,12.771,13.669,12.323,14.166,11.92z M8.054,12.948c-0.122,0.133-0.424,0.229-0.621,0.183 c-0.132-0.035-0.127-0.062-0.159-0.123c0.022,0.04,0.009-0.033,0.105-0.197c0.215-0.369,0.571-0.686,0.962-0.965 c-0.015,0.208-0.015,0.41,0.002,0.606C8.282,12.63,8.19,12.799,8.054,12.948z"></path> <path style="fill:#010002;" d="M18.844,13.922c0.695-0.343,0.715-1.665-0.224-1.208c-0.396,0.193-1.453,0.667-1.625-0.047 c-0.157-0.644,0.488-1.298,0.95-1.656c0.269-0.21,0.517-0.646,0.33-0.979c-0.188-0.34-0.643-0.204-0.883-0.015 c-0.981,0.764-2.013,2.096-1.696,3.405C16.049,14.893,17.871,14.394,18.844,13.922z"></path> <path style="fill:#010002;" d="M25.036,3.712c-0.172-0.133-0.396-0.181-0.605-0.128c-0.851,0.202-2.243,0.509-2.921,0.612V2.767 c0-1.187-0.698-1.896-1.868-1.896c-1.921,0-5.532,2.209-6.987,3.294C11.199,3.08,7.588,0.871,5.668,0.871 c-1.171,0-1.869,0.709-1.869,1.896v1.43C3.121,4.094,1.728,3.786,0.877,3.584C0.669,3.532,0.444,3.58,0.272,3.712 C0.101,3.843,0,4.044,0,4.259v18.083c0,0.199,0.088,0.39,0.245,0.525c0.154,0.13,0.361,0.189,0.564,0.16 c6.992-0.617,10.804,0.907,11.846,1.41c1.041-0.504,4.853-2.027,11.846-1.41c0.203,0.029,0.409-0.03,0.563-0.16 c0.155-0.136,0.244-0.326,0.244-0.525V4.259C25.308,4.044,25.207,3.843,25.036,3.712z M5.666,2.26 c1.636,0,5.236,2.205,6.275,2.968l0.712,0.501l0.712-0.501c1.039-0.764,4.641-2.968,6.275-2.968c0.309,0,0.444,0.02,0.444,0.507 h0.001v13.827c-4.502,0.145-6.687,1.026-7.432,1.407c-0.745-0.382-2.93-1.263-7.432-1.407V2.767l0,0 C5.221,2.28,5.357,2.26,5.666,2.26z M23.886,20.275c-6.91-0.822-10.256,0.574-11.231,1.099c-0.974-0.524-4.324-1.921-11.232-1.099 V5.135C2.182,5.305,3.23,5.53,3.8,5.6v12.377h0.813c1.894,0,5.412,0.188,7.687,1.464l0.354,0.197l0.354-0.197 c2.276-1.275,5.792-1.464,7.688-1.464h0.814V5.6c0.569-0.069,1.618-0.294,2.376-0.465L23.886,20.275L23.886,20.275z"></path> </g> </g> </g></svg>
                        </div>
                        <h5>@(isArabic ? "اللغة الإنجليزية" : "English")</h5>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="text-center">
                        <div class="svgContainer">
                            <svg fill="#000000" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>pyramids</title> <path d="M31.035 19.265l-13.026-13.697-15.074 14.756 2.249 0.479-4.166 4.036 10.459 2.205 5.52-2.801-1.116-1.161 5.446 1.16 9.708-4.978zM11.396 26.726l-9.796-2.007 7.949-7.669 1.847 9.675zM15.278 22.455l-5.689-5.92-4.034 3.908-1.597-0.331 13.979-13.626 3.248 17.192-5.907-1.223z"></path> </g></svg>
                        </div>
                        <h5>@(isArabic ? "تاريخ" : "History")</h5>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="text-center">
                        <div class="svgContainer">
                            <svg height="200px" width="200px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 53.5 53.5" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path style="fill:#010002;" d="M52,50.5H3v-49C3,0.671,2.329,0,1.5,0S0,0.671,0,1.5V52c0,0.829,0.671,1.5,1.5,1.5H52 c0.829,0,1.5-0.671,1.5-1.5C53.5,51.172,52.828,50.5,52,50.5z"></path> <path style="fill:#010002;" d="M12.108,36.417l-4.375,8c-0.398,0.727-0.131,1.638,0.596,2.036c0.229,0.125,0.475,0.184,0.718,0.184 c0.531,0,1.045-0.282,1.317-0.781l4.375-8c0.712-1.302,1.616-2.337,2.585-3.004c0.155,0.027,0.312,0.048,0.474,0.048 c0.792,0,1.501-0.337,2.005-0.871c0.719,0.024,1.374,0.296,1.949,0.831c1.379,1.282,3.05,1.744,4.707,1.299 c2.452-0.658,4.512-3.172,5.651-6.896l1.445-4.719c0.515-1.681,1.047-2.754,1.489-3.432c0.312,0.122,0.649,0.195,1.004,0.195 c0.177,0,0.349-0.021,0.517-0.052l2.377,5.023c0.354,0.748,1.248,1.068,1.998,0.714c0.749-0.355,1.069-1.249,0.714-1.998 l-2.625-5.546c-0.083-0.176-0.173-0.319-0.261-0.47c0.023-0.143,0.044-0.286,0.044-0.435c0-1.526-1.237-2.764-2.764-2.764 c-1.516,0-2.745,1.222-2.761,2.734c-1.003,1.11-1.892,2.838-2.601,5.152l-1.445,4.719c-0.964,3.149-2.472,4.583-3.562,4.876 c-0.647,0.176-1.265-0.021-1.886-0.599c-0.99-0.921-2.181-1.459-3.449-1.598c-0.419-0.994-1.402-1.692-2.548-1.692 c-1.526,0-2.764,1.237-2.764,2.764c0,0.215,0.03,0.421,0.076,0.622C13.962,33.671,12.933,34.909,12.108,36.417z"></path> </g> </g></svg>
                        </div>
                        <h5>@(isArabic ? "رياضيات" : "Maths")</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- Systems Section -->
    <section class="systems-section wow fadeInUp" data-wow-delay=".3s">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="mb-4">
                        @(isArabic ? "لجميع المناهج الدراسية" : "For all school systems")
                    </h2>
                </div>
            </div>

            <div class="swiper systems-swiper">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="text-nowrap p-3 m-2">
                            <h5>
                                @(isArabic ? "المنهج الفرنسي" : "French System")
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path fill="#fff" d="M10 4H22V28H10z"></path><path d="M5,4h6V28H5c-2.208,0-4-1.792-4-4V8c0-2.208,1.792-4,4-4Z" fill="#092050"></path><path d="M25,4h6V28h-6c-2.208,0-4-1.792-4-4V8c0-2.208,1.792-4,4-4Z" transform="rotate(180 26 16)" fill="#be2a2c"></path><path d="M27,4H5c-2.209,0-4,1.791-4,4V24c0,2.209,1.791,4,4,4H27c2.209,0,4-1.791,4-4V8c0-2.209-1.791-4-4-4Zm3,20c0,1.654-1.346,3-3,3H5c-1.654,0-3-1.346-3-3V8c0-1.654,1.346-3,3-3H27c1.654,0,3,1.346,3,3V24Z" opacity=".15"></path><path d="M27,5H5c-1.657,0-3,1.343-3,3v1c0-1.657,1.343-3,3-3H27c1.657,0,3,1.343,3,3v-1c0-1.657-1.343-3-3-3Z" fill="#fff" opacity=".2"></path></svg>
                            </h5>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="text-nowrap p-3 m-2">
                            <h5>
                                @(isArabic ? "المنهج الوطني" : "National System")
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path fill="#fff" d="M1 11H31V21H1z"></path><path d="M5,4H27c2.208,0,4,1.792,4,4v4H1V8c0-2.208,1.792-4,4-4Z" fill="#be2a2c"></path><path d="M5,20H27c2.208,0,4,1.792,4,4v4H1v-4c0-2.208,1.792-4,4-4Z" transform="rotate(180 16 24)"></path><path d="M27,4H5c-2.209,0-4,1.791-4,4V24c0,2.209,1.791,4,4,4H27c2.209,0,4-1.791,4-4V8c0-2.209-1.791-4-4-4Zm3,20c0,1.654-1.346,3-3,3H5c-1.654,0-3-1.346-3-3V8c0-1.654,1.346-3,3-3H27c1.654,0,3,1.346,3,3V24Z" opacity=".15"></path><path d="M18.5,18.367h0c-.036-.882-.138-3.253-.176-4.166-.13-1.044-1.131,.042-1.702-.052-.309-.439,.042-1.889-.819-1.503-.199-.039-.39-.096-.44,.074,0,0,0,0,0,0-.023,.079-.019,.178,.015,.15,0,0,0,0,0,0,.146-.12,.308,.051,.332,.197,0,0,0,0,0,0,0,.001,0,.002,0,.003,0-.001,0-.002,0-.003,.062,.286-.15,.856-.342,1.082-.567,.087-1.564-.988-1.692,.052,0,0,0,0,0,0l-.176,4.166h0s0,0,0,0l1.35-1.207-.289,1.025c-.1-.017-.192-.092-.28-.022-.158-.008-.23,.179-.176,.287,.007-.015,.021-.026,.037-.036-.023,.03-.038,.071-.038,.124-.136-.029-.167,.174-.268,.174,.087,.024,.021,.203,.18,.256,.265,.598,3.697,.602,3.965,0,.159-.053,.094-.232,.18-.256-.101,0-.133-.203-.268-.174,0-.053-.014-.093-.037-.124,.017,.009,.03,.02,.037,.036,.054-.108-.018-.295-.176-.287-.088-.07-.181,.005-.281,.022l-.289-1.025s1.349,1.205,1.351,1.207h0Z" fill="#c09300" fill-rule="evenodd"></path><path d="M18.184,18.709c-.008,0-.015,.001-.021,.003,.007,0,.014,0,.021-.003Z" fill="#c09300" fill-rule="evenodd"></path><path d="M13.837,18.712c-.006-.002-.013-.003-.021-.003,.007,.002,.015,.003,.021,.003Z" fill="#c09300" fill-rule="evenodd"></path><path d="M27,5H5c-1.657,0-3,1.343-3,3v1c0-1.657,1.343-3,3-3H27c1.657,0,3,1.343,3,3v-1c0-1.657-1.343-3-3-3Z" fill="#fff" opacity=".2"></path></svg>
                            </h5>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="text-nowrap p-3 m-2">
                            <h5>
                                @(isArabic ? "المنهج البريطاني" : "British System")
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><rect x="1" y="4" width="30" height="24" rx="4" ry="4" fill="#071b65"></rect><path d="M5.101,4h-.101c-1.981,0-3.615,1.444-3.933,3.334L26.899,28h.101c1.981,0,3.615-1.444,3.933-3.334L5.101,4Z" fill="#fff"></path><path d="M22.25,19h-2.5l9.934,7.947c.387-.353,.704-.777,.929-1.257l-8.363-6.691Z" fill="#b92932"></path><path d="M1.387,6.309l8.363,6.691h2.5L2.316,5.053c-.387,.353-.704,.777-.929,1.257Z" fill="#b92932"></path><path d="M5,28h.101L30.933,7.334c-.318-1.891-1.952-3.334-3.933-3.334h-.101L1.067,24.666c.318,1.891,1.952,3.334,3.933,3.334Z" fill="#fff"></path><rect x="13" y="4" width="6" height="24" fill="#fff"></rect><rect x="1" y="13" width="30" height="6" fill="#fff"></rect><rect x="14" y="4" width="4" height="24" fill="#b92932"></rect><rect x="14" y="1" width="4" height="30" transform="translate(32) rotate(90)" fill="#b92932"></rect><path d="M28.222,4.21l-9.222,7.376v1.414h.75l9.943-7.94c-.419-.384-.918-.671-1.471-.85Z" fill="#b92932"></path><path d="M2.328,26.957c.414,.374,.904,.656,1.447,.832l9.225-7.38v-1.408h-.75L2.328,26.957Z" fill="#b92932"></path><path d="M27,4H5c-2.209,0-4,1.791-4,4V24c0,2.209,1.791,4,4,4H27c2.209,0,4-1.791,4-4V8c0-2.209-1.791-4-4-4Zm3,20c0,1.654-1.346,3-3,3H5c-1.654,0-3-1.346-3-3V8c0-1.654,1.346-3,3-3H27c1.654,0,3,1.346,3,3V24Z" opacity=".15"></path><path d="M27,5H5c-1.657,0-3,1.343-3,3v1c0-1.657,1.343-3,3-3H27c1.657,0,3,1.343,3,3v-1c0-1.657-1.343-3-3-3Z" fill="#fff" opacity=".2"></path></svg>
                            </h5>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="text-nowrap p-3 m-2">
                            <h5>
                                @(isArabic ? "المنهج الألماني" : "German System")
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path fill="#cc2b1d" d="M1 11H31V21H1z"></path><path d="M5,4H27c2.208,0,4,1.792,4,4v4H1v-4c0-2.208,1.792-4,4-4Z"></path><path d="M5,20H27c2.208,0,4,1.792,4,4v4H1v-4c0-2.208,1.792-4,4-4Z" transform="rotate(180 16 24)" fill="#f8d147"></path><path d="M27,4H5c-2.209,0-4,1.791-4,4V24c0,2.209,1.791,4,4,4H27c2.209,0,4-1.791,4-4V8c0-2.209-1.791-4-4-4Zm3,20c0,1.654-1.346,3-3,3H5c-1.654,0-3-1.346-3-3V8c0-1.654,1.346-3,3-3H27c1.654,0,3,1.346,3,3V24Z" opacity=".15"></path><path d="M27,5H5c-1.657,0-3,1.343-3,3v1c0-1.657,1.343-3,3-3H27c1.657,0,3,1.343,3,3v-1c0-1.657-1.343-3-3-3Z" fill="#fff" opacity=".2"></path></svg>
                            </h5>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="text-nowrap p-3 m-2">
                            <h5>
                                @(isArabic ? "المنهج الأمريكي" : "American System")
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><rect x="1" y="4" width="30" height="24" rx="4" ry="4" fill="#fff"></rect><path d="M1.638,5.846H30.362c-.711-1.108-1.947-1.846-3.362-1.846H5c-1.414,0-2.65,.738-3.362,1.846Z" fill="#a62842"></path><path d="M2.03,7.692c-.008,.103-.03,.202-.03,.308v1.539H31v-1.539c0-.105-.022-.204-.03-.308H2.03Z" fill="#a62842"></path><path fill="#a62842" d="M2 11.385H31V13.231H2z"></path><path fill="#a62842" d="M2 15.077H31V16.923000000000002H2z"></path><path fill="#a62842" d="M1 18.769H31V20.615H1z"></path><path d="M1,24c0,.105,.023,.204,.031,.308H30.969c.008-.103,.031-.202,.031-.308v-1.539H1v1.539Z" fill="#a62842"></path><path d="M30.362,26.154H1.638c.711,1.108,1.947,1.846,3.362,1.846H27c1.414,0,2.65-.738,3.362-1.846Z" fill="#a62842"></path><path d="M5,4h11v12.923H1V8c0-2.208,1.792-4,4-4Z" fill="#102d5e"></path><path d="M27,4H5c-2.209,0-4,1.791-4,4V24c0,2.209,1.791,4,4,4H27c2.209,0,4-1.791,4-4V8c0-2.209-1.791-4-4-4Zm3,20c0,1.654-1.346,3-3,3H5c-1.654,0-3-1.346-3-3V8c0-1.654,1.346-3,3-3H27c1.654,0,3,1.346,3,3V24Z" opacity=".15"></path><path d="M27,5H5c-1.657,0-3,1.343-3,3v1c0-1.657,1.343-3,3-3H27c1.657,0,3,1.343,3,3v-1c0-1.657-1.343-3-3-3Z" fill="#fff" opacity=".2"></path><path fill="#fff" d="M4.601 7.463L5.193 7.033 4.462 7.033 4.236 6.338 4.01 7.033 3.279 7.033 3.87 7.463 3.644 8.158 4.236 7.729 4.827 8.158 4.601 7.463z"></path><path fill="#fff" d="M7.58 7.463L8.172 7.033 7.441 7.033 7.215 6.338 6.989 7.033 6.258 7.033 6.849 7.463 6.623 8.158 7.215 7.729 7.806 8.158 7.58 7.463z"></path><path fill="#fff" d="M10.56 7.463L11.151 7.033 10.42 7.033 10.194 6.338 9.968 7.033 9.237 7.033 9.828 7.463 9.603 8.158 10.194 7.729 10.785 8.158 10.56 7.463z"></path><path fill="#fff" d="M6.066 9.283L6.658 8.854 5.927 8.854 5.701 8.158 5.475 8.854 4.744 8.854 5.335 9.283 5.109 9.979 5.701 9.549 6.292 9.979 6.066 9.283z"></path><path fill="#fff" d="M9.046 9.283L9.637 8.854 8.906 8.854 8.68 8.158 8.454 8.854 7.723 8.854 8.314 9.283 8.089 9.979 8.68 9.549 9.271 9.979 9.046 9.283z"></path><path fill="#fff" d="M12.025 9.283L12.616 8.854 11.885 8.854 11.659 8.158 11.433 8.854 10.702 8.854 11.294 9.283 11.068 9.979 11.659 9.549 12.251 9.979 12.025 9.283z"></path><path fill="#fff" d="M6.066 12.924L6.658 12.494 5.927 12.494 5.701 11.799 5.475 12.494 4.744 12.494 5.335 12.924 5.109 13.619 5.701 13.19 6.292 13.619 6.066 12.924z"></path><path fill="#fff" d="M9.046 12.924L9.637 12.494 8.906 12.494 8.68 11.799 8.454 12.494 7.723 12.494 8.314 12.924 8.089 13.619 8.68 13.19 9.271 13.619 9.046 12.924z"></path><path fill="#fff" d="M12.025 12.924L12.616 12.494 11.885 12.494 11.659 11.799 11.433 12.494 10.702 12.494 11.294 12.924 11.068 13.619 11.659 13.19 12.251 13.619 12.025 12.924z"></path><path fill="#fff" d="M13.539 7.463L14.13 7.033 13.399 7.033 13.173 6.338 12.947 7.033 12.216 7.033 12.808 7.463 12.582 8.158 13.173 7.729 13.765 8.158 13.539 7.463z"></path><path fill="#fff" d="M4.601 11.104L5.193 10.674 4.462 10.674 4.236 9.979 4.01 10.674 3.279 10.674 3.87 11.104 3.644 11.799 4.236 11.369 4.827 11.799 4.601 11.104z"></path><path fill="#fff" d="M7.58 11.104L8.172 10.674 7.441 10.674 7.215 9.979 6.989 10.674 6.258 10.674 6.849 11.104 6.623 11.799 7.215 11.369 7.806 11.799 7.58 11.104z"></path><path fill="#fff" d="M10.56 11.104L11.151 10.674 10.42 10.674 10.194 9.979 9.968 10.674 9.237 10.674 9.828 11.104 9.603 11.799 10.194 11.369 10.785 11.799 10.56 11.104z"></path><path fill="#fff" d="M13.539 11.104L14.13 10.674 13.399 10.674 13.173 9.979 12.947 10.674 12.216 10.674 12.808 11.104 12.582 11.799 13.173 11.369 13.765 11.799 13.539 11.104z"></path><path fill="#fff" d="M4.601 14.744L5.193 14.315 4.462 14.315 4.236 13.619 4.01 14.315 3.279 14.315 3.87 14.744 3.644 15.44 4.236 15.01 4.827 15.44 4.601 14.744z"></path><path fill="#fff" d="M7.58 14.744L8.172 14.315 7.441 14.315 7.215 13.619 6.989 14.315 6.258 14.315 6.849 14.744 6.623 15.44 7.215 15.01 7.806 15.44 7.58 14.744z"></path><path fill="#fff" d="M10.56 14.744L11.151 14.315 10.42 14.315 10.194 13.619 9.968 14.315 9.237 14.315 9.828 14.744 9.603 15.44 10.194 15.01 10.785 15.44 10.56 14.744z"></path><path fill="#fff" d="M13.539 14.744L14.13 14.315 13.399 14.315 13.173 13.619 12.947 14.315 12.216 14.315 12.808 14.744 12.582 15.44 13.173 15.01 13.765 15.44 13.539 14.744z"></path></svg>
                            </h5>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

<!-- Grades Section - Static -->

    <section class="grades-section wow fadeInUp" data-wow-delay=".8s" dir="@(isArabic ? "rtl" : "ltr")">
        <h2 >
            @(isArabic ? "في جميع المراحل" : "In all grades")
        </h2>

        <div class="grades-container">
            <div class="grade-card">
                <div class="grade-icon">
                    <svg fill="#000000" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_iconCarrier"><path d="M 16 4 L 3 7 L 3 9 L 16 6 L 29 9 L 29 7 Z M 10 10 C 6.773438 10 3.625 11.3125 3.625 11.3125 L 3 11.59375 L 3 27 L 14.28125 27 C 14.628906 27.597656 15.261719 28 16 28 C 16.738281 28 17.371094 27.597656 17.71875 27 L 29 27 L 29 11.59375 L 28.375 11.3125 C 28.375 11.3125 25.226563 10 22 10 C 19.082031 10 16.519531 10.980469 16 11.1875 C 15.480469 10.980469 12.917969 10 10 10 Z M 10 12 C 11.933594 12 14 12.625 15 12.96875 L 15 24.09375 C 13.886719 23.726563 12.058594 23.21875 10 23.21875 C 7.898438 23.21875 6.1875 23.703125 5 24.09375 L 5 12.96875 C 5.769531 12.691406 7.800781 12 10 12 Z M 22 12 C 24.199219 12 26.230469 12.691406 27 12.96875 L 27 24.09375 C 25.8125 23.703125 24.101563 23.21875 22 23.21875 C 19.941406 23.21875 18.113281 23.726563 17 24.09375 L 17 12.96875 C 18 12.625 20.066406 12 22 12 Z"></path></g></svg>
                </div>
                <h5>@(isArabic ? "مرحلة الروضة" : "Pre-School")</h5>
            </div>

            <div class="grade-card">
                <div class="grade-icon">
                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_iconCarrier"> <path d="M6 11.4999H7M6 15.4999H7M17 15.4999H18M17 11.4999H18M11.5 11.4999H12.5M10 20.9999V16.9999C10 15.8954 10.8954 14.9999 12 14.9999C13.1046 14.9999 14 15.8954 14 16.9999V20.9999M17 7.49995L18.5761 7.89398C19.4428 8.11064 19.8761 8.21898 20.1988 8.46057C20.4834 8.67373 20.7061 8.95895 20.8439 9.28682C21 9.65843 21 10.1051 21 10.9984V17.7999C21 18.9201 21 19.4801 20.782 19.9079C20.5903 20.2843 20.2843 20.5902 19.908 20.782C19.4802 20.9999 18.9201 20.9999 17.8 20.9999H6.2C5.0799 20.9999 4.51984 20.9999 4.09202 20.782C3.71569 20.5902 3.40973 20.2843 3.21799 19.9079C3 19.4801 3 18.9201 3 17.7999V10.9984C3 10.1051 3 9.65843 3.15613 9.28682C3.29388 8.95895 3.51657 8.67373 3.80124 8.46057C4.12389 8.21898 4.55722 8.11064 5.42388 7.89398L7 7.49995L9.85931 4.92657C10.6159 4.2456 10.9943 3.90512 11.4221 3.77598C11.799 3.66224 12.201 3.66224 12.5779 3.77598C13.0057 3.90512 13.3841 4.2456 14.1407 4.92657L17 7.49995Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                </div>
                <h5>@(isArabic ? "المرحلة الابتدائية" : "Primary School")</h5>
            </div>

            <div class="grade-card">
                <div class="grade-icon">
                    <svg viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_iconCarrier"><path d="M61.063 58.25h-.938v-30h.634c1.055 0 1.53-.755 1.059-1.677l-3.077-6.021c-.472-.922-1.721-1.677-2.775-1.677H40.107l-7.17-5.804v-2.29c3.75 2.992 7.5-6.446 11.25-3.453c-3.75-5.294-7.5 1.841-11.25-3.453v-.937C32.938 2.422 32.516 2 32 2s-.938.422-.938.938v10.134l-7.17 5.804H8.035c-1.055 0-2.304.755-2.775 1.677l-3.077 6.021c-.472.922.004 1.677 1.059 1.677h.634v30h-.938a.94.94 0 0 0-.938.937v1.875a.94.94 0 0 0 .938.937h58.125a.94.94 0 0 0 .937-.937v-1.875a.94.94 0 0 0-.937-.938M17 58.25H5.75v-30h8.937c.018.163.05.318.1.459c.245.685.957 1.416 2.214 1.416V58.25zm25 2.594H22v-1.5h20v1.5M26.375 58.25V47h5.156v11.25h-5.156m6.094 0V47h5.156v11.25h-5.156m12.656 0H39.5V47h1.875v-1.881s-6.443-3.893-8.487-5.348a1.586 1.586 0 0 0-1.775 0c-2.044 1.455-8.487 5.348-8.487 5.348V47H24.5v11.25h-5.625v-30H17c-.516 0-.611-.269-.214-.596l14.49-11.934c.199-.163.462-.245.724-.245s.524.082.724.245l14.49 11.934c.397.327.302.596-.214.596h-1.875v30m13.125 0H47V30.125c1.257 0 1.969-.731 2.214-1.416c.05-.141.082-.296.1-.459h8.937v30z" fill="#000000"></path></g></svg>
                </div>
                <h5>@(isArabic ? "المرحلة الإعدادية" : "Middle School")</h5>
            </div>

            <div class="grade-card">
                <div class="grade-icon">
                    <svg fill="#000000" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_iconCarrier"><path d="M30 21.25h-6.25v-8.957l5.877 3.358c0.107 0.062 0.236 0.098 0.373 0.099h0c0.414-0.001 0.749-0.336 0.749-0.751 0-0.277-0.15-0.519-0.373-0.649l-0.004-0.002-13.623-7.784v-0.552c0.172 0.016 0.35 0.068 0.519 0.068 0.004 0 0.010 0 0.015 0 0.475 0 0.934-0.067 1.368-0.193l-0.035 0.009c0.323-0.063 0.693-0.099 1.073-0.099 0.392 0 0.775 0.039 1.146 0.112l-0.037-0.006c0.039 0.007 0.083 0.012 0.129 0.012 0.184 0 0.352-0.068 0.479-0.181l-0.001 0.001c0.161-0.139 0.263-0.343 0.264-0.571v-2.812c0 0 0-0 0-0 0-0.355-0.247-0.653-0.579-0.73l-0.005-0.001c-0.419-0.111-0.9-0.176-1.396-0.176-0.5 0-0.985 0.065-1.446 0.187l0.039-0.009c-0.288 0.067-0.618 0.105-0.958 0.105-0.231 0-0.457-0.018-0.678-0.052l0.025 0.003c-0.122-0.256-0.378-0.43-0.676-0.43-0.412 0-0.746 0.334-0.746 0.746 0 0.001 0 0.003 0 0.004v-0 4.565l-13.622 7.784c-0.227 0.132-0.378 0.374-0.378 0.651 0 0.414 0.336 0.75 0.75 0.75 0.137 0 0.265-0.037 0.376-0.101l-0.004 0.002 5.878-3.359v8.957h-6.25c-0.414 0-0.75 0.336-0.75 0.75v0 8c0 0.414 0.336 0.75 0.75 0.75h28c0.414-0 0.75-0.336 0.75-0.75v0-8c-0-0.414-0.336-0.75-0.75-0.75v0zM18.658 3.075c0.298-0.082 0.64-0.13 0.993-0.13 0.183 0 0.363 0.013 0.539 0.037l-0.020-0.002v1.339c-0.16-0.013-0.345-0.021-0.533-0.021-0.489 0-0.966 0.052-1.425 0.151l0.044-0.008c-0.304 0.088-0.653 0.139-1.014 0.139-0.174 0-0.344-0.012-0.512-0.034l0.020 0.002v-1.323c0.15 0.014 0.325 0.021 0.502 0.021 0.499 0 0.984-0.062 1.447-0.18l-0.041 0.009zM2.75 22.75h5.5v6.5h-5.5zM9.75 22v-10.564l6.25-3.571 6.25 3.572v17.814h-2.5v-5.25c-0-0.414-0.336-0.75-0.75-0.75h-6c-0.414 0-0.75 0.336-0.75 0.75v0 5.25h-2.5zM13.75 29.25v-4.5h4.5v4.5zM29.25 29.25h-5.5v-6.5h5.5zM16 19.75c2.071 0 3.75-1.679 3.75-3.75s-1.679-3.75-3.75-3.75c-2.071 0-3.75 1.679-3.75 3.75v0c0.002 2.070 1.68 3.748 3.75 3.75h0zM16 13.75c1.243 0 2.25 1.007 2.25 2.25s-1.007 2.25-2.25 2.25c-1.243 0-2.25-1.007-2.25-2.25v0c0.002-1.242 1.008-2.248 2.25-2.25h0z"></path></g></svg>
                </div>
                <h5>@(isArabic ? "المرحلة الثانوية" : "High School")</h5>
            </div>

            <div class="grade-card">
                <div class="grade-icon">
                    <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_iconCarrier"> <polygon fill="#000000" points="368 350.643 256 413.643 144 350.643 144 284.081 112 266.303 112 369.357 256 450.357 400 369.357 400 266.303 368 284.081 368 350.643"></polygon> <path fill="#000000" d="M256,45.977,32,162.125v27.734L256,314.3,448,207.637V296h32V162.125ZM416,188.808l-32,17.777L256,277.7,128,206.585,96,188.808,73.821,176.486,256,82.023l182.179,94.463Z"></path> </g></svg>
                </div>
                <h5>@(isArabic ? "المرحلة الجامعية" : "University")</h5>
            </div>
        </div>
    </section>



</div>
<!--tutors-section -->
<section class="tutors-section wow fadeInUp" data-wow-delay=".3s" dir="@(isArabic ? "rtl" : "ltr")">
    <h2 class="text-center mb-5">
        @(isArabic ? "تعرف على مدرسينا" : "Meet Our Tutors")
    </h2>

    <div class="swiper tutors-swiper">
        <div class="swiper-wrapper">
            @foreach (var item in Model.Instructors)
            {
                <div class="swiper-slide tutor-card">
                    <img src="@(item.ApplicationUser.Img != null
                                                             ? Url.Content("~/images/users/" + item.ApplicationUser.Img)
                                                             : $"https://ui-avatars.com/api/?name={(isArabic ? item.NameAr : item.NameEn)}&background=fffaf5&color=fd7e14&size=128")"
                         alt="@(isArabic? item.NameAr: item.NameEn)" />

                    <h5>@(isArabic? item.NameAr: item.NameEn)</h5>

                    <p>
                        @(isArabic ? "اللغة الفرنسية" : "French Language")
                        <span class="badge">FR</span>
                    </p>
                </div>
            }
        </div>
    </div>
</section>



<!-- ========================= feature style-5 start ========================= -->
<section id="feature" class="feature-section feature-style-5 wow fadeInUp" data-wow-delay=".3s" dir="@(isArabic ? "rtl" : "ltr")">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-8 col-xl-8 col-lg-10 col-md-12">
                <div class="section-title text-center mb-60">
                    <h2 class="mb-15 wow fadeInUp" data-wow-delay=".2s">
                        @(isArabic ? "حصصك الدراسية يمكن أن تكون" : "Your Tutoring sessions can be")
                    </h2>
                    <div class="row">
                        <div class="col-md-6 col-sm-12 wow fadeInUp" data-wow-delay=".8s">
                            <svg viewBox="0 0 1024 1024" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#000000">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier"><path d="M842.696 761.156V356.804H196.218v406.453l-83.118 0.27v39.012l14.925 17.62 784.651 5.411 22.215-32.835v-31.879z" fill="#FCE3C3"></path><path d="M917.431 834.604l-793.602-5.474-19.729-23.291v-51.282l83.117-0.271V347.805h664.479v404.322l92.194-0.3v43.666l-26.459 39.111z m-785.21-23.417l775.7 5.351 17.97-26.562v-20.09l-92.194 0.3V365.805H205.218v406.423l-83.117 0.271v26.741l10.12 11.947z" fill="#300604"></path><path d="M791.228 405.065H247.55v361.464h219.181l2.047 6.862h104.115l4.397-6.862h213.938z" fill="#228E9D"></path><path d="M522.169 592.507m-110.228 0a110.228 110.228 0 1 0 220.456 0 110.228 110.228 0 1 0-220.456 0Z" fill="#ED8F27"></path><path d="M475.815 532.432v120.484l114.873-62.228z" fill="#B12800"></path><path d="M247.551 773.391h-50.066a9.267 9.267 0 0 1-9.267-9.267v-413.32h396.003c5.118 0 9.268 4.149 9.268 9.267v50.066a9.267 9.267 0 0 1-9.268 9.267H256.819v344.718c0 5.12-4.15 9.269-9.268 9.269z m-40.798-18.535h31.531V410.138a9.267 9.267 0 0 1 9.267-9.267h327.402V369.34h-368.2v385.516zM843.964 773.391H793.91c-5.117 0-9.268-4.151-9.268-9.267V454.946c0-5.119 4.151-9.267 9.268-9.267h50.054c5.117 0 9.268-4.148 9.268 9.267v309.178c-0.001 5.116-4.151 9.267-9.268 9.267z m-40.787-18.535h31.519V467.779h-31.519v287.077z" fill="#300604"></path><path d="M908.938 827.465L131.763 823a9.267 9.267 0 0 1-7.476-3.789c-3.152-4.301-11.806-11.863-13.954-19.544-2.528-9.02-1.901-28.956-1.333-35.333 0.425-4.784-0.699-9.477 4.1-9.477h354.047c5.119 0 9.267 4.151 9.267 9.267v8.483h88.62v-8.483c0-5.116 4.151-9.267 9.267-9.267h354.058a9.267 9.267 0 0 1 9.231 8.453c0.567 6.371 2.209 27.875-0.302 36.894-2.148 7.687-17.727 19.17-20.877 23.471a9.255 9.255 0 0 1-7.473 3.79z m-776.769-15.387h777.126c4.754-6.818 9.436-14.336 10.142-16.851 0.845-3.047 0.808-12.453 0.295-21.835H583.57v8.483c0 5.116-4.151 9.267-9.267 9.267H467.147c-5.119 0-9.267-4.151-9.267-9.267v-8.483H121.728c-0.522 9.376-0.558 18.777 0.295 21.829 0.707 2.521 5.389 10.039 10.146 16.857zM520.736 712.223c-66.317 0-120.272-53.945-120.272-120.254 0-66.308 53.955-120.254 120.272-120.254 66.303 0 120.248 53.945 120.248 120.254s-53.945 120.254-120.248 120.254z m0-221.972c-56.097 0-101.737 45.631-101.737 101.719 0 56.088 45.64 101.719 101.737 101.719 56.088 0 101.713-45.631 101.713-101.719 0-56.088-45.625-101.719-101.713-101.719z" fill="#300604"></path><path d="M541.233 455.314h-73.138l-4.825-289.088h456.857v282.451H612.403l-71.17 95.53z" fill="#FCE3C3"></path><path d="M535.014 572.452v-101.56H463.27V166.226h471.622v304.666H622.878l-87.864 101.56z m-49.529-123.775h71.745v64.144l55.495-64.144h299.951V188.442H485.485v260.235z" fill="#300604"></path><path d="M554.561 241.753h106.427v22.215H554.561zM734.316 265.842h97.069v22.215h-97.069zM572.893 348.875h155.688v22.215H572.893zM772.072 378.025h69.763v22.215h-69.763zM481.896 665.59c-2.619 0-5.246-1.115-7.124-3.325-1.446-1.701-2.144-3.915-2.144-6.147V529.735a9.264 9.264 0 0 1 4.634-8.025 9.251 9.251 0 0 1 9.268 0l109.626 63.294a9.264 9.264 0 0 1 0 16.05L486.53 664.348a9.279 9.279 0 0 1-4.634 1.242z m9.268-119.802v94.485l81.823-47.244-81.823-47.241z" fill="#300604"></path></g>
                            </svg>
                            <h3>@(isArabic ? "أونلاين" : "Online")</h3>
                        </div>

                        <div class="col-md-6 col-sm-12 wow fadeInUp" data-wow-delay=".8s">
                            <svg viewBox="0 0 1024 1024" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#000000">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier"><path d="M424.609 512.427H123.911v-335.75h499.756v335.75H544.52l40.999 178.935z" fill="#300604"></path><path d="M600.848 199.496H146.73v290.112h288.048L543.61 610.634l-27.732-121.026h84.97z" fill="#FCE3C3"></path><path d="M453.701 265.567h54.567v82.578h-54.567z" fill="#B12800"></path><path d="M265.661 270.613h54.567v77.532h-54.567z" fill="#228E9D"></path><path d="M355.587 309.37h54.567v38.775h-54.567z" fill="#ED8F27"></path><path d="M123.807 615.823h136.461v30.664H123.807zM278.09 615.823h40.95v30.664h-40.95zM358.919 615.823h24.137v30.664h-24.137zM214.132 687.875h136.461v30.664H214.132zM368.416 687.875h40.95v30.664h-40.95zM449.244 687.875h24.137v30.664h-24.137zM612.259 464.43v36.588h-82.062l34.367 149.979-134.869-149.979H135.32V464.43z" fill="#300604"></path><path d="M424.609 512.427H123.911v-59.406h499.756v59.406H544.52l40.999 178.935z" fill="#300604"></path><path d="M600.848 475.84H146.73v13.768h288.048L543.61 610.634l-27.732-121.026h84.97z" fill="#B12800"></path><path d="M599.262 470.712s-1.229 121.393 23.731 165.191c24.961 43.798 95.174 60.76 95.174 60.76l51.336-43.725s46.352-56.812 44.754-84.595c-1.597-27.783-38.342-163.944-38.342-163.944l-176.653 66.313z" fill="#FCE3C3"></path><path d="M706.757 697.232c-11.591 0-23.183-1.85-34.217-5.556-43.829-14.715-73.278-55.67-73.278-101.906V470.712h22.819V589.77a84.601 84.601 0 0 0 57.724 80.275c17.381 5.831 36.524 5.831 53.906 0a84.605 84.605 0 0 0 57.728-80.275V470.712h22.819V589.77c0 46.236-29.449 87.191-73.282 101.906-11.031 3.707-22.623 5.556-34.219 5.556z" fill="#300604"></path><path d="M718.167 879.287H502.121V777.136l141.777-124.22 8.204 1.59 2.288 1.734c7.74 6.099 16.29 10.741 25.411 13.805a84.561 84.561 0 0 0 26.956 4.405h11.41v204.837z" fill="#300604"></path><path d="M524.94 856.468h170.408V696.663a107.227 107.227 0 0 1-22.808-4.987 106.26 106.26 0 0 1-24.587-11.974L524.94 787.484v68.984z" fill="#228E9D"></path><path d="M911.398 879.287h-216.05V674.45h11.41a84.55 84.55 0 0 0 26.957-4.405c9.129-3.064 17.679-7.71 25.408-13.801l2.176-1.716 8.205-1.59 4.315 3.659 137.58 120.539v102.151z" fill="#300604"></path><path d="M718.167 856.468h170.412v-68.984L765.566 679.702a106.28 106.28 0 0 1-24.587 11.974 107.073 107.073 0 0 1-22.812 4.987v159.805z" fill="#228E9D"></path><path d="M763.382 805.969h88.405v22.819h-88.405z" fill="#300604"></path><path d="M788.119 817.38l52.257-50.851v50.851zM676.278 576.046h-12.3a8.784 8.784 0 0 1-8.784-8.784v-26.046a8.784 8.784 0 0 1 8.784-8.784h12.3a8.784 8.784 0 0 1 8.784 8.784v26.046a8.784 8.784 0 0 1-8.784 8.784zM747.278 576.046h-12.3a8.784 8.784 0 0 1-8.784-8.784v-26.046a8.784 8.784 0 0 1 8.784-8.784h12.3a8.784 8.784 0 0 1 8.784 8.784v26.046a8.784 8.784 0 0 1-8.784 8.784z" fill="#300604"></path><path d="M593.484 489.608s-32.905-148.509 113.291-148.509 100.81 152.965 100.81 152.965-18.331-64.798-44.203-69c-28.505-4.63-64.903 89.721-169.898 64.544z" fill="#ED8F27"></path><path d="M807.585 504.064h-0.064a10 10 0 0 1-9.559-7.278c-0.043-0.153-4.52-15.812-11.935-31.623-12.383-26.406-21.691-29.814-24.249-30.229-4.764-0.77-15.625 9.168-25.208 17.94-28.039 25.663-70.408 64.447-145.419 46.458a10 10 0 0 1-7.431-7.561c-0.655-2.958-15.613-72.973 22.255-120.15 21.583-26.888 55.496-40.521 100.799-40.521 44.258 0 76.701 13.401 96.428 39.831 36.325 48.667 14.899 122.845 13.969 125.979a10 10 0 0 1-9.586 7.154z m-205.393-22.79c60.706 11.924 95.349-19.789 120.876-43.154 15.416-14.11 27.589-25.257 41.917-22.928 14.221 2.31 26.928 15.659 38.83 40.799 0.104-1.479 0.19-2.984 0.259-4.514 0.882-19.802-1.341-47.786-16.942-68.643-15.751-21.059-42.788-31.736-80.357-31.736-38.894 0-67.54 11.091-85.142 32.965-26.004 32.315-21.909 80.283-19.441 97.211z" fill="#300604"></path><path d="M709.169 649.524a19.42 19.42 0 0 1-1.661-0.067c-1.979 0.044-9.23-0.312-14.612-5.465-2.539-2.432-5.566-6.896-5.566-14.363v-5.22h10.439v5.22c0 3.055 0.754 5.273 2.307 6.784 2.771 2.697 7.406 2.6 7.454 2.603 0.263-0.005 0.573 0.005 0.834 0.037 0.007 0.001 4.296 0.425 6.937-1.949 1.645-1.479 2.479-3.994 2.479-7.475v-5.22h10.439v5.22c0 6.634-2.036 11.794-6.052 15.338-4.47 3.945-9.999 4.557-12.998 4.557z" fill="#B12800"></path></g>
                            </svg>
                            <h3>@(isArabic ? "حضوري" : "Offline")</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= feature style-5 end ========================= -->
<!-- ========================= about style-4 start ========================= -->
<section id="about" class="about-section about-style-4" dir="@(isArabic ? "rtl" : "ltr")">
    <div class="container">
        <div class="text-center">
            <h3 class="mb-3">
                @(isArabic ? "تجربة تعليمية كاملة لتحقيق الامتياز!" : "A full educational experience to achieve an A+!")
            </h3>
        </div>
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-6 @(isArabic ? "text-end" : "text-start")">
                <div>
                    <h4>@(isArabic ? "اعثر على المدرس المثالي" : "Find the perfect tutor")</h4>
                    <p class="mt-1">
                        @(isArabic ? "مدرسون مؤهلون وذوو خبرة" : "Qualified & experienced tutors")
                    </p>
                    <p>
                        @(isArabic ? "مجموعة متنوعة من المدرسين للاختيار من بينهم" : "Range of tutors to choose from")
                    </p>
                    <p>
                        @(isArabic ? "تقييمات ومراجعات من أولياء أمور حقيقيين" : "Rated & reviewed by real parents")
                    </p>
                </div>

                <div class="mt-5">
                    <h4>@(isArabic ? "حلول مرنة" : "A flexible solution")</h4>
                    <p class="mt-1">
                        @(isArabic ? "خيارات دفع متعددة" : "Multiple payment options")
                    </p>
                    <p>
                        @(isArabic ? "باقات قابلة للتخصيص بالكامل" : "Fully customizable packages")
                    </p>
                    <p>
                        @(isArabic ? "إلغاء الاشتراك في أي وقت" : "Cancel anytime")
                    </p>
                </div>

                <div class="mt-5">
                    <h4>@(isArabic ? "تابع تقدم طفلك" : "Track your child's progress")</h4>
                    <p class="mt-1">
                        @(isArabic ? "تتبع الحصص المكتملة" : "Track completed sessions")
                    </p>
                    <p>
                        @(isArabic ? "تتبع الواجبات المنزلية المسندة" : "Track assigned homework")
                    </p>
                    <p>
                        @(isArabic ? "استلام تقارير تقدم شهرية" : "Receive monthly progress reports")
                    </p>
                </div>
            </div>

            <div class="col-xl-7 col-lg-6">
                <div class="about-image @(isArabic ? "text-lg-left" : "text-lg-right") wow fadeInUp" data-wow-delay=".5s">
                    <img src="/HomePageAssets/assets/img/edu.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= about style-4 end ========================= -->
<!-- ========================= pricing style-4 start ========================= -->
<section id="pricing" class="pricing-section pricing-style-4 bg-light" dir="@(isArabic ? "rtl" : "ltr")">
    <div class="container">
        <div class="row align-items-center" dir="ltr">
            <div class="col-xl-5 col-lg-6 @(isArabic ? "text-end" : "text-start")">
                <div class="section-title mb-60">
                    <h3 class="mb-15 wow fadeInUp" data-wow-delay=".2s">
                        @(isArabic ? "خطط الأسعار" : "Pricing Plan")
                    </h3>
                    <p class="wow fadeInUp" data-wow-delay=".4s">
                        @(isArabic
                                                ? "لا تضيع وقتك وأموالك في تصميم وإدارة موقع لا يحقق نتائج. نحن نضمن لك السعادة والرضا التام عن خدماتنا!"
                                                : "Stop wasting time and money designing and managing a website that doesn’t get results. Happiness guaranteed!")
                    </p>
                </div>
            </div>
            <div class="col-xl-7 col-lg-6" >
                <div class="pricing-active-wrapper wow fadeInUp" data-wow-delay=".4s">
                    <div class="pricing-active">

                        <div class="single-pricing-wrapper">
                            <div class="single-pricing">
                                <h6>@(isArabic ? "تصميم أساسي" : "Basic Design")</h6>
                                <h4>@(isArabic ? "تصميم ويب" : "Web Design")</h4>
                                <h3>$ 29.00</h3>
                                <ul class="@(isArabic ? "text-end" : "text-start")">
                                    <li>@(isArabic ? "عناصر مصممة بعناية" : "Carefully crafted components")</li>
                                    <li>@(isArabic ? "نماذج صفحات مذهلة" : "Amazing page examples")</li>
                                    <li>@(isArabic ? "فريق دعم ودود للغاية" : "Super friendly support team")</li>
                                    <li>@(isArabic ? "دعم فني متميز" : "Awesome Support")</li>
                                </ul>
                                <a href="#0" class="button radius-30">
                                    @(isArabic ? "ابدأ الآن" : "Get Started")
                                </a>
                            </div>
                        </div>

                        <div class="single-pricing-wrapper">
                            <div class="single-pricing">
                                <h6>@(isArabic ? "تصميم قياسي" : "Standard Design")</h6>
                                <h4>@(isArabic ? "تطوير ويب" : "Web Development")</h4>
                                <h3>$ 89.00</h3>
                                <ul class="@(isArabic ? "text-end" : "text-start")">
                                    <li>@(isArabic ? "عناصر مصممة بعناية" : "Carefully crafted components")</li>
                                    <li>@(isArabic ? "نماذج صفحات مذهلة" : "Amazing page examples")</li>
                                    <li>@(isArabic ? "فريق دعم ودود للغاية" : "Super friendly support team")</li>
                                    <li>@(isArabic ? "دعم فني متميز" : "Awesome Support")</li>
                                </ul>
                                <a href="#0" class="button radius-30">
                                    @(isArabic ? "ابدأ الآن" : "Get Started")
                                </a>
                            </div>
                        </div>

                        <div class="single-pricing-wrapper">
                            <div class="single-pricing">
                                <h6>@(isArabic ? "تصميم احترافي" : "Pro Design")</h6>
                                <h4>@(isArabic ? "تصميم وتطوير" : "Design & Develop")</h4>
                                <h3>$ 199.00</h3>
                                <ul class="@(isArabic ? "text-end" : "text-start")">
                                    <li>@(isArabic ? "عناصر مصممة بعناية" : "Carefully crafted components")</li>
                                    <li>@(isArabic ? "نماذج صفحات مذهلة" : "Amazing page examples")</li>
                                    <li>@(isArabic ? "فريق دعم ودود للغاية" : "Super friendly support team")</li>
                                    <li>@(isArabic ? "دعم فني متميز" : "Awesome Support")</li>
                                </ul>
                                <a href="#0" class="button radius-30">
                                    @(isArabic ? "ابدأ الآن" : "Get Started")
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= pricing style-4 end ========================= -->
<!-- ========================= contact-style-3 start ========================= -->
<section id="contact" class="contact-section contact-style-3" dir="@(isArabic ? "rtl" : "ltr")">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-5 col-xl-5 col-lg-7 col-md-10">
                <div class="section-title text-center mb-50">
                    <h3 class="mb-15">@(isArabic ? "تواصل معنا" : "Get in touch")</h3>
                    <p>
                        @(isArabic
                                                ? "توقف عن إضاعة الوقت والمال في تصميم وإدارة موقع لا يحقق نتائج. نحن نضمن لك الرضا التام!"
                                                : "Stop wasting time and money designing and managing a website that doesn’t get results. Happiness guaranteed!")
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="contact-form-wrapper">
                    <form action="/home/ContactUs" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="single-input">
                                    <input type="text" id="name" name="name" class="form-input @(isArabic ? "text-end" : "")" placeholder="@(isArabic ? "الاسم       " : "Name")">
                                    <i class="lni lni-user" ></i>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single-input">
                                    <input type="email" id="email" name="email" class="form-input @(isArabic ? "text-end" : "")" placeholder="@(isArabic ? "البريد الإلكتروني      " : "Email")">
                                    <i class="lni lni-envelope" ></i>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single-input">
                                    <input type="text" id="number" name="PhoneNumber" class="form-input @(isArabic ? "text-end" : "")" placeholder="@(isArabic ? "رقم الهاتف       " : "Number")">
                                    <i class="lni lni-phone" ></i>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single-input">
                                    <input type="text" id="subject" name="topic" class="form-input @(isArabic ? "text-end" : "")" placeholder="@(isArabic ? "الموضوع      " : "Subject")">
                                    <i class="lni lni-text-format" ></i>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-input">
                                    <textarea name="message" id="message" class="form-input @(isArabic ? "text-end" : "")" placeholder="@(isArabic ? "رسالتك       " : "Message")" rows="6"></textarea>
                                    <i class="lni lni-comments-alt" ></i>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-button @(isArabic ? "text-start" : "")">
                                    <button type="submit" class="button">
                                        <i class="lni lni-telegram-original"></i> @(isArabic ? "إرسال" : "Submit")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="left-wrapper">
                    <div class="row">
                        <div class="col-lg-12 col-md-6">
                            <div class="single-item @(isArabic ? "text-end" : "")">
                                <div class="icon" style="@(isArabic ? "margin-left: 20px; margin-right: 0;" : "")">
                                    <i class="lni lni-phone"></i>
                                </div>
                                <div class="text">
                                    <p dir="ltr">0045939863784</p>
                                    <p dir="ltr">+004389478327</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-6">
                            <div class="single-item @(isArabic ? "text-end" : "")">
                                <div class="icon" style="@(isArabic ? "margin-left: 20px; margin-right: 0;" : "")">
                                    <i class="lni lni-envelope"></i>
                                </div>
                                <div class="text">
                                    <p>yourmail@gmail.com</p>
                                    <p>admin@yourwebsite.com</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-6">
                            <div class="single-item @(isArabic ? "text-end" : "")">
                                <div class="icon" style="@(isArabic ? "margin-left: 20px; margin-right: 0;" : "")">
                                    <i class="lni lni-map-marker"></i>
                                </div>
                                <div class="text">
                                    <p>@(isArabic ? "بيت جون، طريق 13/5، سيدني، الولايات المتحدة" : "John's House, 13/5 Road, Sidny United State Of America")</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= contact-style-3 end ========================= -->


<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="~/HomePageAssets/js/Home/index.js"></script>
